body {
  width: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: #b1edf5;
  display: grid;
  grid-template-columns: 5fr 5fr;
  justify-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 3rem;
}

#form {
  width: 75%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  padding: 1rem;
  border-radius: 15px;
}

input {
  margin: 0rem 1rem 1rem 1rem;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  margin: 0rem 1rem 1rem 1rem;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#description {
  width: 40%;
  height: 100px;
  margin-bottom: 1rem;
}

#submitBtn {
       text-decoration: none;
    color: #242424;
    background: #90eb79;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

#submitBtn:hover {
    text-decoration: underline;
        background: #76ac68;
        cursor: pointer
}
#submitBtn:active {
    background: #9bff82;
}

.divider {
  border-bottom: 1px solid grey;
  width: 200px;
}

.deleteBtn {
    text-decoration: none;
    color: #242424;
    background: #f96969;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.deleteBtn:hover {
    text-decoration: underline;
        background: #c65858;
        cursor: pointer
}
.deleteBtn:active {
    background: #f96969;
}

.markDoneBtn {
      text-decoration: none;
    color: #242424;
    background: #90eb79;
    border: 1px solid;
    box-shadow: 5px 10px 18px #888888;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.markDoneBtn:hover {
    text-decoration: underline;
        background: #76ac68
}
.markDoneBtn:active {
    background: #9bff82;
}